fastapi==0.100.1
orjson==3.9.10
pydantic[email]==2.5.2
uvicorn==0.12.2
gunicorn==21.2.0
pydantic-settings==2.1.0
psycopg==3.1.9
psycopg[binary]==3.1.9
sqlalchemy[asyncio]==2.0.25
werkzeug==3.0.1
alembic==1.13.1
async-fastapi-jwt-auth==0.6.2
python-jose[cryptography]==3.3.0